body{
    background-color: #8db596;
    font-family: 'Quicksand', sans-serif;
}

#heading{
    /* text-align: center; */
    margin: 10px;
    padding: 5px 10px;
    color: #52057b;
    text-decoration:chocolate;
    font-size: 40px;
    
}

.App{
    background-color: #fc8621;
    min-height: 600px;
    width: 500px;
    margin: 40px auto;
    border-radius: 10px;
    padding: 10px;
}

#todo-form input{
    /* background-color: rgb(27, 112, 137, 1); */
    background-color: #79a3b1;
    border: 0;
    color: black;
    width: 300px;
    height: 40px;
    margin: 20px;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 6px;
    font-family: 'Quicksand', sans-serif;
}

#todo-form input::placeholder{
    color: rgba(255, 255, 255, 0.5);

}
#todo-form input:focus{
    outline: none;
}


#todo-form button{
    height: 35px;
    width: 80px;
    border-radius: 5px;
    border: 3px solid black;
    /* background-color: rgba(202, 156, 24, 1); */
    background-color: #b088f9;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;

}

#todo-form button:focus{
    outline: none;
}